In [103]:
import pandas as pd
import matplotlib as plt
from sklearn.datasets import make_blobs
import sklearn as skl
import tensorflow as tf
import yfinance as yf

In [104]:
Soybeans=yf.Ticker("ZS=F")
Corn=yf.Ticker("ZC=F")
Wheat=yf.Ticker("ZW=F")
Cotton=yf.Ticker("CT=F")
Crude=yf.Ticker("CL=F")
USDBRL=yf.Ticker("BRL=X")
EURUSD=yf.Ticker("EURUSD=X")
IR=yf.Ticker("^TNX")

In [105]:
Soybeans_H=Soybeans.history(period="Max").sort_values(by="Date", ascending=False).drop(["Dividends", "Stock Splits"], axis=1).rename(columns={"Open":"Soybeans Open","High": "Soybeans High","Low": "Soybeans Low", "Close": "Soybeans Close", "Volume" : "Soybeans Volume"})[:len(USDBRL_H)]
Corn_H=Corn.history(period="Max").sort_values(by="Date", ascending=False).drop(["Dividends", "Stock Splits"], axis=1).rename(columns={"Open":"Corn Open","High": "Corn High","Low": "Corn Low", "Close": "Corn Close", "Volume" : "Corn Volume"})[:len(USDBRL_H)]
Wheat_H=Wheat.history(period="Max").sort_values(by="Date", ascending=False).drop(["Dividends", "Stock Splits"], axis=1).rename(columns={"Open":"Wheat Open","High": "Wheat High","Low": "Wheat Low", "Close": "Wheat Close", "Volume" : "Wheat Volume"})[:len(USDBRL_H)]
Cotton_H=Cotton.history(period="Max").sort_values(by="Date", ascending=False).drop(["Dividends", "Stock Splits"], axis=1).rename(columns={"Open":"Cotton Open","High": "Cotton High","Low": "Cotton Low", "Close": "Cotton Close", "Volume" : "Cotton Volume"})[:len(USDBRL_H)]
Crude_H=Crude.history(period="Max").sort_values(by="Date", ascending=False).drop(["Dividends", "Stock Splits"], axis=1).rename(columns={"Open":"Crude Open","High": "Crude High","Low": "Crude Low", "Close": "Crude Close", "Volume" : "Crude Volume"})[:len(USDBRL_H)]
USDBRL_H=USDBRL.history(period="Max").sort_values(by="Date", ascending=False).drop(["Dividends", "Stock Splits"], axis=1).rename(columns={"Open":"USDBRL Open","High": "USDBRL High","Low": "USDBRL Low", "Close": "USDBRL Close", "Volume" : "USDBRL Volume"})[:len(USDBRL_H)]
EURUSD_H=EURUSD.history(period="Max").sort_values(by="Date", ascending=False).drop(["Dividends", "Stock Splits"], axis=1).rename(columns={"Open":"EURUSD Open","High": "EURUSD High","Low": "EURUSD Low", "Close": "EURUSD Close", "Volume" : "EURUSD Volume"})[:len(USDBRL_H)]
IR_H=IR.history(period="Max").sort_values(by="Date", ascending=False).drop(["Dividends", "Stock Splits"], axis=1).rename(columns={"Open":"IR Open","High": "IR High","Low": "IR Low", "Close": "IR Close", "Volume" : "IR Volume"})[:len(USDBRL_H)]

In [106]:
#d={}
Prices = [Corn_H, Wheat_H, Cotton_H, Crude_H, USDBRL_H, EURUSD_H, IR_H]
#for price in Prices:
    #d[price]= price.history(period="Max")

In [107]:
#d[Corn].sort_values(by="Date", ascending=False)
#for price in Prices:
    #price.sort_values(by="Date", ascending=False)

In [108]:
for price in Prices:
    print (price.shape)

(4035, 5)
(4035, 5)
(4035, 5)
(4035, 5)
(4035, 5)
(4035, 5)
(4035, 5)

In [109]:
for price in Prices:
    Soybeans_H=Soybeans_H.merge(price, on="Date")

In [113]:
AllData=Soybeans_H
AllData

,Soybeans Open,Soybeans High,Soybeans Low,Soybeans Close,Soybeans Volume,Corn Open,Corn High,Corn Low,Corn Close,Corn Volume,...,EURUSD Open,EURUSD High,EURUSD Low,EURUSD Close,EURUSD Volume,IR Open,IR High,IR Low,IR Close,IR Volume
Date,,,,,,,,,,,,,,,,,,,,,
2021-03-03,1415.00,1417.75,1397.50,1399.00,34141,544.00,544.25,535.50,536.00,49844,...,1.208897,1.211387,1.204819,1.206418,0,1.465,1.488,1.455,1.477,0
2021-03-02,1395.00,1416.00,1383.50,1414.00,1258,547.25,564.00,542.00,560.75,6534,...,1.204906,1.208036,1.199400,1.205110,0,1.446,1.451,1.403,1.415,0
2021-03-01,1415.75,1422.00,1392.00,1392.50,1258,560.50,562.50,547.00,547.50,6534,...,1.209090,1.210156,1.202993,1.208956,0,1.451,1.460,1.407,1.446,0
2021-02-26,1404.00,1408.25,1380.00,1405.25,5701,554.50,556.50,546.25,555.50,21395,...,1.216012,1.218249,1.209175,1.216042,0,1.470,1.519,1.439,1.460,0
2021-02-25,1423.50,1443.00,1391.75,1406.00,44673,559.00,560.50,542.50,554.75,128538,...,1.216951,1.224155,1.215658,1.217137,0,1.456,1.614,1.432,1.518,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2006-03-30,581.50,583.50,581.00,587.75,988,224.00,224.75,223.75,227.75,2082,...,1.202993,1.217493,1.202704,1.216797,0,4.808,4.884,4.806,4.855,0
2006-03-29,581.50,583.75,580.75,582.50,607,222.00,223.25,222.00,224.25,716,...,1.200898,1.204993,1.198595,1.203094,0,4.786,4.818,4.772,4.810,0
2006-03-28,578.75,580.75,578.00,581.50,882,221.25,222.75,221.00,222.25,1944,...,1.201504,1.210405,1.199702,1.201100,0,4.723,4.798,4.721,4.778,0
2006-03-27,573.75,579.00,572.50,579.50,667,219.00,221.25,218.25,221.75,1054,...,1.203297,1.205807,1.200696,1.201100,0,4.679,4.715,4.675,4.701,0
2006-03-24,575.00,577.50,575.00,573.75,4458,219.50,220.25,219.25,218.75,12515,...,1.196802,1.204805,1.195700,1.203500,0,4.737,4.737,4.653,4.675,0

In [117]:
AllData.to_csv("AllData.csv")